@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.App {
  text-align: center;
  background: url("https://zupimages.net/up/19/27/zeu9.jpg") no-repeat center fixed;
  background-size: auto;
  margin: 20;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}


h2 {
  font-family: 'Amatic SC', cursive;
  background-color: darkred;
  color: #cdb068;
  font-size: 40px;
  border-radius: 20px;
  width: 90%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-left: 1.6em;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  font-weight: bold;
  color: orange;
}

p {
  text-align: center;
  color: orange;
}

.image {
  border-radius: 20px;
  width: 220px;
}

li>a {
  font-family: 'Amatic SC', cursive;
}

/* .Header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.conteneur {
  width: 100%;
  font-size: 20px;
  margin: auto
}

.haut {
  width: 100%;
  font-size: 20px;
  margin-left: auto;
}

.menu {
  background-color: darkred;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  height: 8vh;
  line-height: 50px;
}

.menu li {
  list-style-type: none;
  display: inline-flex;
  font-size: 30px;
  margin: auto
}

.menu li a {
  text-decoration: none;
  font-size: 35px;
  color: white;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
}

.menu li a:hover {
  text-decoration: none;
  color: #cdb068;
}

nav>ul li{
  display: flex;
  justify-content: space-around;
}

ul {
  margin: 0;
  padding: 0;
} */

.contenu {
  margin: 1em;
}

.contenu li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tableau {
  margin-left: 6.5em;
  letter-spacing: 1px;
}


td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
  border-radius: 20px;
}

th {
  background-color: #cdb068;
  color: red;
}

.th1 {
  display: table-header-group;
}

td {
  text-align: center;
  font-weight: bold;
  color: red;
}

tr:nth-child(even) td {
  background-color: #cdb068;
}

tr:nth-child(odd) td {
  background-color: #cdb068;
}

caption {
  padding: 10px;
}

.Contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Label {
  display: flex;
  flex-direction: column;
  margin-left: 28em;
  margin-bottom: 2em;
  border-radius: 20px;
  width: 30%;
  color: white;
}

.footer {
  text-align: center;
}
.logo-ok{
  Width: 30%;
  margin-left: 5em;
  margin-top: 0.3em;
}
.logo-ok img{
  width: 50%;
  margin-left: 5em;
}
.user-added{
  font-size: 0.6em;
  width:70%;
  margin-left: 6em;
}