* {
  background-color: rgb(41, 41, 41);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(41, 41, 41);
  /* text-align: center; */
  /* background: url("https://zupimages.net/up/19/27/zeu9.jpg") no-repeat center fixed; */
  background-size: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

h2 {
  font-family: 'Amatic SC', cursive;
  background-color: darkred;
  color: #cdb068;
  /* font-size: 40px; */
  border-radius: 10px;
  width: 90%;
  text-align: center;
  /* height: 50px; */
  /* line-height: 50px; */
  /* margin-left: 1.6em; */
  margin-left: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-family: 'Amatic SC', cursive;
  /* font-size: 35px; */
  font-weight: bold;
  color: orange;
  margin: 1em;
}

.contenu {
  margin: 1em;
  margin-top: 2em;
}

.contenu li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin-top: 2em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: 'Amatic SC', cursive;
  /* font-size: 35px; */
  font-weight: bold;
  color: orange;
}

p {
  text-align: center;
  color: orange;
}

.image {
  border-radius: 20px;
  width: 85%;
}

li>a {
  font-family: 'Amatic SC', cursive;
}

.tableau {
  margin: auto;
  letter-spacing: 1px;
}

td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 0.1% 0.2%;
  border-radius: 10px;
}

th {
  background-color: #cdb068;
  color: red;
}

.th1 {
  display: table-header-group;
}

td {
  text-align: center;
  font-weight: bold;
  color: red;
}

tr:nth-child(even) td {
  background-color: #cdb068;
}

tr:nth-child(odd) td {
  background-color: #cdb068;
}

p {
  text-align: center;
  color: orange;
  margin: 1em;
}

.Contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Label {
  display: flex;
  flex-direction: column;
  margin-left: 7em;
  margin-bottom: 2em;
  margin: auto;
  /* border-radius: 50px; */
  width: 50%;
  color: white;
}

input {
  border-radius: 5px;
  width: 100%;
}

button {
  width: 35%;
  border-radius: 5px;
  color: orange;
  margin-left: 5em;
  margin-top: 1em;
}

.logo-ok{
  Width: 30%;
  margin-left: 5em;
  margin-top: 0.3em;
}

.logo-ok img{
  width: 40%;
  margin-right: 1.3em;
}
.msg-sending{
  font-size: 1em;
  width:70%;
  margin-left: 2.2em;
}

.logo-ok2{
  Width: 40%;
  margin-left: 5.4em;
  margin-top: 0.3em;
}

.logo-ok2 img{
  width: 40%;
  margin-right: 1.3em;
}

.msg-reserved {
  font-size: 1em;
  width:70%;
  margin-left: 2.4em;
}

.personnalProfile {
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 2em;
}

.logos {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
}

.logoGithub {
  width : 12%;
  background-color: cornsilk;
  border-radius: 70%;
  margin-right: 2em;
}

.logoLinkedin {
  width: 12%;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 1em; */
  /* position: fixed; */
  bottom: 4em; 
  width: 100%;
  height: 11%;
}

.Home {
  text-align: center;
  /* background: url("https://zupimages.net/up/20/05/nzne.jpg") no-repeat center fixed; */
  background-size: cover;
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.perfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 720px) {


@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.App {
  text-align: center;
  background: url("https://zupimages.net/up/19/27/zeu9.jpg") no-repeat center fixed;
  background-size: auto;
  margin: 20;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}


h2 {
  font-family: 'Amatic SC', cursive;
  background-color: darkred;
  color: #cdb068;
  font-size: 40px;
  border-radius: 20px;
  width: 90%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-left: 1.6em;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  font-weight: bold;
  color: orange;
}

p {
  text-align: center;
  color: orange;
}

.image {
  border-radius: 20px;
  width: 220px;
}

li>a {
  font-family: 'Amatic SC', cursive;
}

/* .Header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.conteneur {
  width: 100%;
  font-size: 20px;
  margin: auto
}

.haut {
  width: 100%;
  font-size: 20px;
  margin-left: auto;
}

.menu {
  background-color: darkred;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  height: 8vh;
  line-height: 50px;
}

.menu li {
  list-style-type: none;
  display: inline-flex;
  font-size: 30px;
  margin: auto
}

.menu li a {
  text-decoration: none;
  font-size: 35px;
  color: white;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
}

.menu li a:hover {
  text-decoration: none;
  color: #cdb068;
}

nav>ul li{
  display: flex;
  justify-content: space-around;
}

ul {
  margin: 0;
  padding: 0;
} */

.contenu {
  margin: 1em;
}

.contenu li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tableau {
  margin-left: 6.5em;
  letter-spacing: 1px;
}


td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
  border-radius: 20px;
}

th {
  background-color: #cdb068;
  color: red;
}

.th1 {
  display: table-header-group;
}

td {
  text-align: center;
  font-weight: bold;
  color: red;
}

tr:nth-child(even) td {
  background-color: #cdb068;
}

tr:nth-child(odd) td {
  background-color: #cdb068;
}

caption {
  padding: 10px;
}

.Contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Label {
  display: flex;
  flex-direction: column;
  margin-left: 28em;
  margin-bottom: 2em;
  border-radius: 20px;
  width: 30%;
  color: white;
}

.footer {
  text-align: center;
}
.logo-ok{
  Width: 30%;
  margin-left: 5em;
  margin-top: 0.3em;
}
.logo-ok img{
  width: 50%;
  margin-left: 5em;
}
.msg-sending{
  font-size: 0.6em;
  width:70%;
  margin-left: 6em;
}

}